.app {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* needed to override swiper style */
.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

/* bounce effect on active CustomCards */
.active {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Initial and final position */
    }
    50% {
        transform: translateY(-5px); /* Bounce up */
    }
}